.container-fluid{
    min-height: 100vh;
    background-color:#f8f9fe;
}
div #header{
    background-color:#00B4D8;
    height: 15vh;

}
.logo2{
    max-width: 30%;
    min-height: 30%;
}
.buttonAdd,.buttonAdd:hover,.buttonAdd:focus{
    border-color: rebeccapurple;
}
