.container-fluid {
    min-height: 100vh;
    background-color: #f8f9fe;
}

div #header {
    background-color: #00B4D8; 
}

.logo2 {
    max-width: 20vw;
    max-height: 10vh;
}

.userButton,.userButton:focus,.userButton:hover{
   color:#fff

}
.user {
    max-width: 60px;
    max-height: 60px;
}
.taskCard{
    border: solid 1px #00B4D8;
    box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.267);
    background-color: #fff;
}
   .buttonEdit, .buttonEdit:hover.buttonEdit:focus{
       border-color: rebeccapurple;
       background-color: #fff;
}
