.search{
  color: #fff;
  background-color: #00B4D8;
  border: none;
  border-radius: 0px;
  min-width: 40vw;
  border-bottom: solid 1px #fff;

}

.search:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: #00B4D8;
  border: none;
  border-radius: 0px;
  min-width: 40vw;
  border-bottom: solid 1px rebeccapurple;
}
.search::placeholder{
  color: #fff;
}