.login-container{
    background-color: #00B4D8;
    min-height: 100vh;
}
.register, a:link, a:visited {
    text-decoration: none;
    color:blue;
}

.logo{
    width: 100%;
}
.loginButton:hover,.loginButton{
    border-color: rebeccapurple;
}